
body{
  font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
}

p, h2{
  color: #ff4c68;
}

.actual-color 
{
  color: #ffffff;
}
/* Heading */

.big-heading{
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  padding-left: 0;
}

.section-heading{
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  padding-bottom: 2%;
}

/* Container */

.container{
  display: flex;
} 

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
  padding-top: 7%;
  padding-bottom: 10%;
}

.white-section{
  background-color: #fff;
  text-align: left;
  padding-top: 0px;
}

/* title section */

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

.title-image{
  padding-top: 5%;
  width: 45%;
  transform: rotate(0deg);
  position: absolute;
  right: 1%;
  bottom: 15%;
}



/* Navigation bar */

.navbar{
  padding-bottom: 4.5rem;
}

.navbar-brand{
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
.navbar-text  h1{
  color: #fff;
  font-size: 40px;
  align-content: center;

}
.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
}


/* Download buttons */

.download-button{
  margin: 5% 3% 5% 0;
}


/* pricing section */

#pricing  {
  padding-top:100px;
  padding-bottom: 100px;
}

.pricing-column{
  padding: 3% 2%;
}

.price-text{
  font-size: 3rem;
  line-height: 1.5;
}

/* Footer */

#footer{
  background-color: #ff4c68;
  padding: 8% 8%;
}

.footer-col{
  color: #fff;
}

.bot-icon{
  margin: 1%;
}

@media (max-width: 992px) {

#title{
  text-align: center;
}

  .title-image{
    position: static;
    transform: rotate(0);
    width:80%;
    align-content: right;
  }
   .result{
    width: auto;
   }
}

/* result section */

/* .result {
    align-content: center;
    background-color: black;
    color: white;
    align-items: center;
    width: auto;
    margin: 10px;
    border: 1px solid #ccc;
    color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
} */
.result-banner {
  position: relative;
  height: 230px;
  background-color: #666; 
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
  }
.res-head{
  position: relative;
}
form{
    margin-top: 50px;
    margin: auto;
    width: auto;
}

.sub-size{ 
  width: 40%;
  background-color: rgb(124, 195, 168) ;
  border: none;
}

.sub-size:hover{
  background-color: #ff4c68;
}

.price{
  color: rgb(255, 255, 255);
}
.form-control{
  align-items: left;
  
  text-align: left;
}
 .mid {
  text-align: center;
 }
.card{
  display: flex;
  justify-content: center;  
  margin:auto;
  margin-top: 20px;
}


/* input group */
  /* .input-group{
    align-content: left;
    flex: 1;
    flex-grow: 2;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    width: 50%;
  } */

/* controls */
html, body {
  min-height: 100%;
  }

  body, div, form, input, select, textarea, p { 
  padding: 0;
  margin: 0;
  outline: none;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  line-height: 22px;
  }
  
  h1 {
  position: absolute;
  margin: 0;
  line-height: 55px;
  font-size: 55px;
  color: #fff;
  z-index: 2;
  }
  .heading-text{
    position:static;
  }
  .testbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 20px;
  }
  form {
  width: 100%;
  padding: 20px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0 0 30px 0 #a37547; 
  }
  .banner {
  position: relative;
  height: 230px;
  background-image: url("https://storage.googleapis.com/kaggle-competitions/kaggle/5407/media/housesbanner.png");  
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 65%;
  }
  .banner::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.4); 
  position: absolute;
  width: 100%;
  height: 100%;
  }
  input, select, textarea {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  }
  input {
  width: calc(100% - 10px);
  padding: 5px;
  }
  select {
  width: 100%;
  padding: 7px 0;
  background: transparent;
  }
  /* textarea {
  width: calc(100% - 12px);
  padding: 5px;
  } */
  .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
  color: #a37547;
  }
  .item input:hover, .item select:hover, .item textarea:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 6px 0 #a37547;
  color: #a37547;
  }
  .item {
  position: relative;
  margin: 10px 0;
  justify-content: center;
  }
  input[type=radio], input[type=checkbox]  {
  display: none;
  }
  label.radio {
  position: relative;
  display: inline-block;
  margin: 5px 20px 15px 0;
  cursor: pointer;
  }
  .question span {
  margin-left: 30px;
  }
  label.radio:before {
  content: "";
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #ccc;
  }
  input[type=radio]:checked + label:before, label.radio:hover:before {
  border: 2px solid #a37547;
  }
  label.radio:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 5px;
  width: 8px;
  height: 4px;
  border: 3px solid #a37547;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0;
  }
  input[type=radio]:checked + label:after {
  opacity: 1;
  }
  .btn-block {
  margin-top: 10px;
  text-align: center;
  }
  .btn-head{
    padding: 0%;
  }
  button {
  width: 150px;
  padding: 10px;
  border: none;
  border-radius: 5px; 
  background: #6b4724;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  }
  button:hover {
  box-shadow: 0 0 18px 0 #3d2914;
  }
